body {
    background-image: url(../images/gratisography-subway-train-arrival.jpg);
    background-size: contain;
    opacity: .6;
    font-family: 'Girassol', cursive;
}

 .jumbotron {
    font-family: 'Bungee', cursive;
    background-color:transparent; 
    color: #708E01;
    margin-top: 15px;
    
}  
 
 table.center {
    margin-left:auto; 
    margin-right:auto;
    text-align:center;
    color: black;
}

 .card-header {
     background-color: #708E01;
     color: whitesmoke;
}

#add-train-btn {
    background-color: #708E01;
    color: whitesmoke;
}